.owl-nav .owl-prev,
.owl-next {
    font-size: 2rem !important;
    background-color: aqua !important;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    padding: 0.1rem 1rem !important;
}

.owl-dots {
    margin-top: 2rem !important;
}

.mobileMenuToggle {
    display: none !important;
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
    color: #fff;
    font-size: 1.8rem;
    margin: 30px;
    height: 40px;
    width: 40px;
    right: 0px;
    top: 8px;
}


.mobileMenu {
    position: fixed;
    display: none;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
            327.21deg,
            rgba(33, 0, 75, 0.24) 3.65%,
            rgba(60, 0, 136, 0) 40.32%
        ),
        linear-gradient(
            45.93deg,
            rgb(40, 35, 66) 20%,
            rgba(209, 25, 80, 0) 66.63%
        ),
        linear-gradient(
            147.6deg,
            rgba(58, 19, 255, 0) 29.79%,
            rgba(98, 19, 255, 0.01) 85.72%
        ),
        rgb(15, 14, 33);
    left: 0;
    top: 0;
    z-index: 9999;
    overflow-y: hidden;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .mobileMenu {
        display: flex;
    }

    .mobileMenuToggle {
        display: block !important;
    }
}