.owl-nav .owl-prev,
.owl-next {
    font-size: 2rem !important;
    background-color: aqua !important;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    padding: 0.1rem 1rem !important;
}

.owl-dots {
    margin-top: 2rem !important;
}